files/making-home-assistants-presence-detection-not-so-binary-node-red-version-v4.json
[{"id":"ce09e65.8f84418","type":"switch","z":"9e2d545a.b4a658","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":60,"wires":[["4d8f933f.aa124c"],["ead2621a.497e1"]]},{"id":"dccf0e91.545e9","type":"change","z":"9e2d545a.b4a658","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":60,"wires":[["dc77d845.0aa858"]],"l":false},{"id":"4d8f933f.aa124c","type":"api-current-state","z":"9e2d545a.b4a658","name":"Status?","version":1,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":40,"wires":[["d3f35a3d.8281a8","241457b2.2cc128"],["c1544077.8f84a","d3f35a3d.8281a8"]]},{"id":"d3f35a3d.8281a8","type":"change","z":"9e2d545a.b4a658","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":60,"wires":[["6a5f8f00.23807","8bd1d643.a115e8"]],"icon":"node-red/timer.svg","l":false},{"id":"21de8580.22285a","type":"change","z":"9e2d545a.b4a658","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":60,"wires":[["712d8721.d63168","8bd1d643.a115e8"]],"icon":"node-red/timer.svg","l":false},{"id":"e76d582a.9a8f88","type":"api-call-service","z":"9e2d545a.b4a658","name":"Just Left","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":700,"y":100,"wires":[["6a5f8f00.23807","21de8580.22285a"]]},{"id":"241457b2.2cc128","type":"api-call-service","z":"9e2d545a.b4a658","name":"Just Arrived","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":20,"wires":[["712d8721.d63168"]]},{"id":"d5810a67.0f3498","type":"api-call-service","z":"9e2d545a.b4a658","name":"Away","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":970,"y":100,"wires":[["8bd1d643.a115e8"]]},{"id":"c0187e63.5a9e1","type":"api-call-service","z":"9e2d545a.b4a658","name":"Extended Away","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1240,"y":100,"wires":[[]]},{"id":"6a5f8f00.23807","type":"trigger","z":"9e2d545a.b4a658","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10min","x":850,"y":100,"wires":[["d5810a67.0f3498"]]},{"id":"8bd1d643.a115e8","type":"trigger","z":"9e2d545a.b4a658","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24hr","x":1090,"y":100,"wires":[["c0187e63.5a9e1"]]},{"id":"712d8721.d63168","type":"trigger","z":"9e2d545a.b4a658","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10min","x":850,"y":20,"wires":[["c1544077.8f84a"]]},{"id":"c1544077.8f84a","type":"api-call-service","z":"9e2d545a.b4a658","name":"Home","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":970,"y":20,"wires":[[]]},{"id":"4f5a58f6.75a848","type":"trigger-state","z":"9e2d545a.b4a658","name":"Person","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":60,"wires":[["414184b6.858bdc"],[]]},{"id":"414184b6.858bdc","type":"rbe","z":"9e2d545a.b4a658","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":195,"y":60,"wires":[["dccf0e91.545e9"]],"l":false},{"id":"ead2621a.497e1","type":"api-current-state","z":"9e2d545a.b4a658","name":"Status?","version":1,"outputs":2,"halt_if":"Just Left,Away, Extended Away","halt_if_type":"str","halt_if_compare":"does_not_include","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":100,"wires":[["e76d582a.9a8f88"],[]]},{"id":"dc77d845.0aa858","type":"template","z":"9e2d545a.b4a658","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":315,"y":60,"wires":[["ce09e65.8f84418"]],"l":false}]