files/making-home-assistants-presence-detection-not-so-binary-node-red-version-v3.json
[{"id":"b7a85521.c083f8","type":"switch","z":"b528e5db.f2efd8","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":60,"wires":[["30d95f27.40a2e"],["4d838391.cfd4bc"]]},{"id":"16e435df.fb29ea","type":"change","z":"b528e5db.f2efd8","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":60,"wires":[["b7a85521.c083f8"]],"l":false},{"id":"30d95f27.40a2e","type":"template","z":"b528e5db.f2efd8","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":435,"y":40,"wires":[["78eb1550.e6398c"]],"l":false},{"id":"78eb1550.e6398c","type":"api-current-state","z":"b528e5db.f2efd8","name":"Status?","version":1,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":40,"wires":[["3a6d3ce5.8437e4","d198ac47.2475e"],["e2b28013.ee912","3a6d3ce5.8437e4"]]},{"id":"3a6d3ce5.8437e4","type":"change","z":"b528e5db.f2efd8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":60,"wires":[["53ab96b9.5e98f8","3c158779.6076f8"]],"l":false},{"id":"bf6051fc.0d51b","type":"change","z":"b528e5db.f2efd8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":795,"y":60,"wires":[["113e36fd.eee399","3c158779.6076f8"]],"l":false},{"id":"4d838391.cfd4bc","type":"api-call-service","z":"b528e5db.f2efd8","name":"Just Left","version":1,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":100,"wires":[["53ab96b9.5e98f8","bf6051fc.0d51b"]]},{"id":"d198ac47.2475e","type":"api-call-service","z":"b528e5db.f2efd8","name":"Just Arrived","version":1,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":20,"wires":[["113e36fd.eee399"]]},{"id":"dc02a480.578828","type":"api-call-service","z":"b528e5db.f2efd8","name":"Away","version":1,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":950,"y":100,"wires":[["3c158779.6076f8"]]},{"id":"d3f017bd.0042e8","type":"api-call-service","z":"b528e5db.f2efd8","name":"Extended Away","version":1,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1220,"y":100,"wires":[[]]},{"id":"53ab96b9.5e98f8","type":"trigger","z":"b528e5db.f2efd8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 min","x":830,"y":100,"wires":[["dc02a480.578828"]]},{"id":"3c158779.6076f8","type":"trigger","z":"b528e5db.f2efd8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 hrs","x":1070,"y":100,"wires":[["d3f017bd.0042e8"]]},{"id":"113e36fd.eee399","type":"trigger","z":"b528e5db.f2efd8","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 min","x":830,"y":20,"wires":[["e2b28013.ee912"]]},{"id":"e2b28013.ee912","type":"api-call-service","z":"b528e5db.f2efd8","name":"Home","version":1,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":950,"y":20,"wires":[[]]},{"id":"78986bc7.815274","type":"trigger-state","z":"b528e5db.f2efd8","name":"Family","entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":90,"y":60,"wires":[["ef562e3b.fdb24"],[]]},{"id":"ef562e3b.fdb24","type":"rbe","z":"b528e5db.f2efd8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":175,"y":60,"wires":[["16e435df.fb29ea"]],"l":false}]