files/making-home-assistants-presence-detection-not-so-binary-node-red-version-v2.json
[{"id":"e817c354.2e18","type":"switch","z":"fd7e6f11.57548","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":240,"y":100,"wires":[["6faf2677.041528"],["ddc97c15.f5558"]]},{"id":"6faf2677.041528","type":"template","z":"fd7e6f11.57548","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":380,"y":60,"wires":[["cc718e97.c5df5"]]},{"id":"cc718e97.c5df5","type":"api-current-state","z":"fd7e6f11.57548","name":"Status?","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":60,"wires":[["4b8e4dd1.55db84","255bf0c.522981"]]},{"id":"4b8e4dd1.55db84","type":"switch","z":"fd7e6f11.57548","name":"Just Left?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":40,"wires":[["97fc9f3e.e9845"],["5d9d99eb.12bf68"]]},{"id":"255bf0c.522981","type":"change","z":"fd7e6f11.57548","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":80,"wires":[["aa153516.f666b8","ddbb8120.446fc"]]},{"id":"d5752739.886ce8","type":"change","z":"fd7e6f11.57548","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":140,"wires":[["751e6205.ecbd3c","ddbb8120.446fc"]]},{"id":"ddc97c15.f5558","type":"api-call-service","z":"fd7e6f11.57548","name":"Just Left","version":1,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":380,"y":140,"wires":[["aa153516.f666b8","d5752739.886ce8"]]},{"id":"97fc9f3e.e9845","type":"api-call-service","z":"fd7e6f11.57548","name":"Just Arrived","version":1,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":20,"wires":[["751e6205.ecbd3c"]]},{"id":"c6fa9f19.d7b77","type":"api-call-service","z":"fd7e6f11.57548","name":"Away","version":1,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":790,"y":100,"wires":[["ddbb8120.446fc"]]},{"id":"e7bf876d.8ba068","type":"api-call-service","z":"fd7e6f11.57548","name":"Extended Away","version":1,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":80,"wires":[[]]},{"id":"aa153516.f666b8","type":"trigger","z":"fd7e6f11.57548","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":650,"y":120,"wires":[["c6fa9f19.d7b77"]]},{"id":"ddbb8120.446fc","type":"trigger","z":"fd7e6f11.57548","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":950,"y":80,"wires":[["e7bf876d.8ba068"]]},{"id":"751e6205.ecbd3c","type":"trigger","z":"fd7e6f11.57548","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":950,"y":20,"wires":[["5d9d99eb.12bf68"]]},{"id":"5d9d99eb.12bf68","type":"api-call-service","z":"fd7e6f11.57548","name":"Home","version":1,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":40,"wires":[[]]},{"id":"f37171b7.f1caa","type":"change","z":"fd7e6f11.57548","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":100,"wires":[["e817c354.2e18"]]}]