files/making-home-assistants-presence-detection-not-so-binary-node-red-version-v7.json
[{"id":"71fe49c97da3f9c5","type":"api-current-state","z":"adcca79e71c9f678","name":"Just Left?","server":"","version":3,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":480,"y":220,"wires":[["4987f44393e04913"],["7a68176fd5e92882"]]},{"id":"d371d140bfaa4ce9","type":"api-call-service","z":"adcca79e71c9f678","name":"Just Left","server":"","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":260,"wires":[[]]},{"id":"7a68176fd5e92882","type":"api-call-service","z":"adcca79e71c9f678","name":"Just Arrived","server":"","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":230,"wires":[[]]},{"id":"74674a36c657440f","type":"api-call-service","z":"adcca79e71c9f678","name":"Away","server":"","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":270,"wires":[[]]},{"id":"a5b5d5715f8c4c98","type":"api-call-service","z":"adcca79e71c9f678","name":"Extended Away","server":"","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":270,"wires":[[]]},{"id":"4987f44393e04913","type":"api-call-service","z":"adcca79e71c9f678","name":"Home","server":"","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":210,"wires":[[]]},{"id":"78905f1e3ec3fa1c","type":"server-state-changed","z":"adcca79e71c9f678","name":"Just Arrived for 10min","server":"","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"^input_select\\..*$","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"Just Arrived","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":820,"y":230,"wires":[["4987f44393e04913"],[]]},{"id":"2f0acc76afe7953a","type":"server-state-changed","z":"adcca79e71c9f678","name":"Just Left for 10min","server":"","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"^input_select\\..*$","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"Just Left","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":650,"y":270,"wires":[["74674a36c657440f"],[]]},{"id":"ce3f9080e2a5c198","type":"server-state-changed","z":"adcca79e71c9f678","name":"Away for 24hr","server":"","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"^input_select\\..*$","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"Away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"24","forType":"num","forUnits":"hours","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":950,"y":270,"wires":[["a5b5d5715f8c4c98"],[]]},{"id":"e097399a97725a79","type":"server-state-changed","z":"adcca79e71c9f678","name":"Person","server":"","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"^person\\..*$","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$outputData(\"eventData\").new_state.state = \"home\" ? \"home\" : \"not_home\"","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$replace(\t   data.entity_id,\t   \"person.\",\t   \"input_select.\"\t)","valueType":"jsonata"}],"x":250,"y":240,"wires":[["25186ff095b1f027"]]},{"id":"25186ff095b1f027","type":"rbe","z":"adcca79e71c9f678","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":335,"y":240,"wires":[["7bfa9d7cfb9a2a90"]],"l":false},{"id":"7bfa9d7cfb9a2a90","type":"switch","z":"adcca79e71c9f678","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":385,"y":240,"wires":[["71fe49c97da3f9c5"],["d371d140bfaa4ce9"]],"l":false}]