files/making-home-assistants-presence-detection-not-so-binary-node-red-version-v1.json
[{"id":"63bc1c41.4818b4","type":"switch","z":"92d8d5f4.738fe8","name":"Home?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":240,"y":100,"wires":[["48116c4c.4e2024"],["e665e2e.424d02"]]},{"id":"e665e2e.424d02","type":"template","z":"92d8d5f4.738fe8","name":"Just Left","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Just Left\"\n   }\n}","output":"str","x":380,"y":140,"wires":[["fd43f67e.91b0d8"]]},{"id":"48116c4c.4e2024","type":"template","z":"92d8d5f4.738fe8","name":"","field":"payload.entity_id","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"input_select.{{topic}}","output":"str","x":380,"y":60,"wires":[["70796e6c.ac84d"]]},{"id":"70796e6c.ac84d","type":"api-current-state","z":"92d8d5f4.738fe8","name":"Status?","version":"1","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":60,"wires":[["dfda57cf.84b928","27264311.e3345c"]]},{"id":"dfda57cf.84b928","type":"switch","z":"92d8d5f4.738fe8","name":"Just Left?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Just Left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":40,"wires":[["cd88b28d.36f0b"],["2bbf8591.d344ba"]]},{"id":"27264311.e3345c","type":"change","z":"92d8d5f4.738fe8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":80,"wires":[["fe6163e2.6ef36","a5420f5c.c41da"]]},{"id":"e522ae3b.d86a7","type":"change","z":"92d8d5f4.738fe8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":140,"wires":[["2e48c4eb.a8c30c","a5420f5c.c41da"]]},{"id":"fd43f67e.91b0d8","type":"api-call-service","z":"92d8d5f4.738fe8","name":"HA","version":"1","service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":510,"y":140,"wires":[["fe6163e2.6ef36","e522ae3b.d86a7"]]},{"id":"7d55c4ca.ebcb3c","type":"api-call-service","z":"92d8d5f4.738fe8","name":"HA","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":950,"y":20,"wires":[["2e48c4eb.a8c30c"]]},{"id":"fa4008f4.b2b498","type":"api-call-service","z":"92d8d5f4.738fe8","name":"HA","version":"1","service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":890,"y":120,"wires":[["a5420f5c.c41da"]]},{"id":"f517c6e4.0f7b08","type":"api-call-service","z":"92d8d5f4.738fe8","name":"HA","version":"1","service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":80,"wires":[[]]},{"id":"fe6163e2.6ef36","type":"trigger","z":"92d8d5f4.738fe8","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":650,"y":120,"wires":[["ae21edc5.d0ec1"]]},{"id":"a5420f5c.c41da","type":"trigger","z":"92d8d5f4.738fe8","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"24","extend":false,"units":"hr","reset":"","bytopic":"topic","name":"24 Hrs","x":1070,"y":80,"wires":[["6721c902.c5f848"]]},{"id":"2e48c4eb.a8c30c","type":"trigger","z":"92d8d5f4.738fe8","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"min","reset":"","bytopic":"topic","name":"10 Min","x":1070,"y":20,"wires":[["2bbf8591.d344ba"]]},{"id":"cd88b28d.36f0b","type":"template","z":"92d8d5f4.738fe8","name":"Just Arrived","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Just Arrived\"\n   }\n}","output":"str","x":810,"y":20,"wires":[["7d55c4ca.ebcb3c"]]},{"id":"2bbf8591.d344ba","type":"template","z":"92d8d5f4.738fe8","name":"Home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Home\"\n   }\n}","output":"str","x":1190,"y":40,"wires":[[]]},{"id":"6721c902.c5f848","type":"template","z":"92d8d5f4.738fe8","name":"Extended Away","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Extended Away\"\n   }\n}","output":"str","x":1220,"y":80,"wires":[["f517c6e4.0f7b08"]]},{"id":"ae21edc5.d0ec1","type":"template","z":"92d8d5f4.738fe8","name":"Away","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"domain\": \"input_select\",\n  \"service\": \"select_option\",\n  \"data\": {\n    \"entity_id\": \"input_select.{{topic}}\",\n    \"option\": \"Away\"\n   }\n}","output":"str","x":770,"y":120,"wires":[["fa4008f4.b2b498"]]},{"id":"bb846ce5.4cd4a","type":"change","z":"92d8d5f4.738fe8","name":"Change","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"device_tracker.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":100,"wires":[["63bc1c41.4818b4"]]}]