files/motion-activated-lights-with-switch-override.json
[{"id":"e433ab36.c6b358","type":"api-call-service","z":"d89889b7.24b9f8","name":"Kitchen Ceiling Lights ON","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_ceiling_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":20,"wires":[[]]},{"id":"cd7df0e2.ea938","type":"trigger","z":"d89889b7.24b9f8","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":true,"units":"min","reset":"","bytopic":"all","name":"10min","x":590,"y":100,"wires":[["16bf9a80.ccead6"]]},{"id":"16bf9a80.ccead6","type":"api-call-service","z":"d89889b7.24b9f8","name":"Kitchen Ceiling Lights OFF","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kitchen_ceiling_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":100,"wires":[[]]},{"id":"14739080.90dc9","type":"change","z":"d89889b7.24b9f8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":555,"y":60,"wires":[["cd7df0e2.ea938"]],"icon":"node-red/timer.svg","l":false},{"id":"ce4419ce.841178","type":"trigger-state","z":"d89889b7.24b9f8","name":"Kitchen Light Switch","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.kitchen_light_switch","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":60,"wires":[["a2d4c1a6.bb35a"],["279d7f80.57b5d"]]},{"id":"56668319.4c687c","type":"trigger-state","z":"d89889b7.24b9f8","name":"Motion Sensor","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.dining_room_motion_sensor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"7876m3tojhp","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":390,"y":60,"wires":[["e433ab36.c6b358","14739080.90dc9"],["cd7df0e2.ea938"]]},{"id":"279d7f80.57b5d","type":"change","z":"d89889b7.24b9f8","name":"ENABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":90,"wires":[["56668319.4c687c","14739080.90dc9"]],"icon":"font-awesome/fa-toggle-on","l":false},{"id":"a2d4c1a6.bb35a","type":"change","z":"d89889b7.24b9f8","name":"DISABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":30,"wires":[["56668319.4c687c","14739080.90dc9"]],"icon":"font-awesome/fa-toggle-off","l":false}]